:root {
    --white: white;
    --black: black;
  }
  .changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom:30px;
  }
  
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  
  body {
    color: #1a1b1f;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    font-weight: 400;
    line-height: 62px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
  
  
  .text-field-2 {
    border: 3px solid #000;
    border-radius: 6px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6;
  }
  
  .submit-button {
    text-align: center;
    background-color: #423223;
    color:white;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    border-radius: 11px;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 60px;
    display: inline-block;
    margin-top: -10;
  }
  
  .form {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .container-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }
  
  .login {
    background-color: #7d5454;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
  
  .field-label {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .container-3 {
    flex-direction: row;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
  }
  
  .field-label-2 {
    color: #ebefff;
    text-align: left;
    margin-bottom: -11px;
    margin-right: 0;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  .container-4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }
  
  .section-3 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('database-image.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0 0, 50%, 0 0;
    background-size: auto, auto, auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .body {
    background-color: #20120d;
  }
  
  .field-label-3 {
    color: var(--white);
    text-align: left;
    margin-bottom: -11px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  .image {
    border-radius: 7px;
  }
  
  .form-block {
    background-color: #866de9;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 56px;
    padding: 22px 29px;
    display: block;
  }
  
  .container-5 {
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .heading {
    color: #fff;
    font-family: Changa One, Impact, sans-serif;
    font-size: 30px;

  }
  
  .heading-2 {
    color: #fff;
    text-align: center;
    font-family: Changa One, Impact, sans-serif;
  }
  
  
  
  